.hero-unit
  %h2 The Municipal Bond Club of New York
  %p Welcome to The Municipal Bond Club of New York website. The club was established 1932, the object of this Club is to encourage good fellowship among its members and to provide and maintain high standards and principles.
  %p
    %a.btn.btn-primary.btn-large{:href => "#"} 
      Become a Member!

.row
  %div.span4
    %h3 Learn about MBCNY
    %p The Municipal Bond Club of NY was established in 1932 and boasts over 400 members. We are involved in all aspects of the municipal marketplace.
    %p
      %a{:href => "/about/history"}
        %i.icon-fixed-width.icon-circle-arrow-right
        Learn More
