%h2 The Municipal Bond Club of New York
%p Welcome to The Municipal Bond Club of New York website. The club was established 1932, the object of this Club is to encourage good fellowship among its members and to provide and maintain high standards and principles.
%p
  %a.btn.btn-primary.btn-large{:href => "#"} 
    Become a Member!
