%h2 Club History
%p The Municipal Bond Club of NY was established in 1932 and the object of the Club is “to encourage good fellowship among its members and to provide and maintain high standards and principles.”

New members may join with at least 5 years experience and Board sponsorship. The Club has over 400 members involved in all aspects of the municipal marketplace – sales, trading, underwriting, insurance, technology, media, etc. One notable past president from the 1970’s was William Simon who went on to become the Secretary of the Treasury and a member of the US Olympic Committee.

The Club is one of the oldest established financial industry clubs, and has a deep sense of community and camaraderie. We look forward to serving the muni community for many more decades to come!
