%h3 Current Officers

%div.carousel.slide{:id => "membersCarousel"}
  %ol.carousel-indicators
    %li.active{"data-target" => "#membersCarousel", "data-slide-to" => "0"}
    %li{"data-target" => "#membersCarousel", "data-slide-to" => "1"}
    %li{"data-target" => "#membersCarousel", "data-slide-to" => "2"}
    %li{"data-target" => "#membersCarousel", "data-slide-to" => "3"}

  .carousel-inner
    .item.inner-item.active
      %img.center{:src => "http://placehold.it/300x300", :alt => ""}
      .carousel-caption.officers-caption Caption text here
    .item.inner-item
      %img{:src => "http://placehold.it/300x300", :alt => ""}
      .carousel-caption.officers-caption Caption text here
    .item.inner-item
      %img{:src => "http://placehold.it/300x300", :alt => ""}
      .carousel-caption.officers-caption Caption text here
    .item.inner-item
      %img{:src => "http://placehold.it/300x300", :alt => ""}
      .carousel-caption.officers-caption Caption text here
  %a.left.officers-control-left{:href => "#membersCarousel", "data-slide" => "prev"}
    %span.icon-chevron-left
  %a.right.officers-control-right{:href => "#membersCarousel", "data-slide" => "next"}
    %span.icon-chevron-right

