// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.officers-control-left {
    position: absolute;
    top: 40%;
    color: #C0C0C0;
    font-size: 40px;
    text-decoration: none;
    &:hover { color: #222222;
              text-decoration: none;
              opacity: 0.3
            }
  }

.officers-control-right {
    position: absolute;
    top: 40%;
    left: auto;
    right: 15px;
    color: #C0C0C0;
    font-size: 40px;
    text-decoration: none;
    &:hover { color: #222222;
              text-decoration: none;
              opacity: 0.3
            }
  }
