%li.active.__web-inspector-hide-shortcut__
  %a{:href => "/"} Home

%li.dropdown
  %a.dropdown-toggle{:href => "/about/history", "data-toggle" => "dropdown"} 
    About
    %b.caret
  %ul.dropdown-menu
    %li
      %a{:href => "/about/history"} 
        %i.icon-fixed-width.icon-circle-arrow-right
        Club History 
    %li
      %a{:href => "/about/officers"}
        %i.icon-fixed-width.icon-circle-arrow-right
        Current Officers
    %li
      %a{:href => "/about/presidents"}
        %i.icon-fixed-width.icon-circle-arrow-right
        Past Presidents

%li.dropdown
  %a.dropdown-toggle{:href => "/membership/current", "data-toggle" => "dropdown"} 
    Membership
    %b.caret
  %ul.dropdown-menu
    %li
      %a{:href => "/membership/current"} 
        %i.icon-fixed-width.icon-circle-arrow-right
        Current Members
